*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Inter", Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
}

.button-notes {
  width: 125px;
  height: 43px;
  padding: 13px 29px;
  border-radius: 30px;
  box-sizing: border-box;
  border: #6d2df0;
  background-color: #6d2df0;
  color: white;
  text-align: center;
  line-height: 16.94px;
  font-size: 14px;
  font-weight: 500;
}

.button-delete {
  border-radius: 30px;
  box-sizing: border-box;
  border: rgb(236, 83, 83);
  background-color: rgb(236, 83, 83);
  color: black;
  text-align: center;
  line-height: 16.94px;
  font-size: 14px;
  font-weight: 500;
}

.notes {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: auto;
}

.notes__comeback {
  text-decoration: none;
  padding: 20px 10px;
}

.notes__comeback:hover {
  text-decoration: underline;
}

.notes__wrapper {
  max-width: 709px;
  width: 100%;
  min-height: 942px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 65px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.notes__tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  ul {
    list-style-type: none;
    padding: 0;
  }
}

// .checkbox {
//   position: absolute;
//   z-index: -1;
//   opacity: 0;
// }

.notes__links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.notes__input {
  min-width: 100%;
  max-width: 500px;
  min-height: 50px;
  border-radius: 30px;
  background-color: #f5f5f5;
  border: none;
  box-sizing: border-box;
  padding-left: 20px;
}

.notes__points {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.notes__progress {
  padding: 20px 10px;
}
